body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

header {
	margin: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.heading {
    color: #4aafff;
    font-weight: bold;
}

.title {
	font-weight: 400;
	letter-spacing: 1.5px;
}

form {
	height: 600px;
	width: 500px;
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
	position: relative;
    margin-top: -30px;
	overflow: hidden;
}




.btn {
	height: 60px;
	width: 300px;
	margin: 20px auto;
	border-radius: 50px;
	border-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-around;
	align-items: center;
}





/* .login, */

.signup {
	font-size: 22px;
	border: none;
	outline: none;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	color: black;
	
}

.slider {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right, #007ae1, #007ae1);
	position: absolute;
	top: 20px;
	left: 100px;
	transition: all 0.5s ease-in-out;
}

.moveslider {
	left: 250px;
}

.form-section {
	height: 500px;
	width: 1000px;
	padding: 20px 0;
	display: flex;
	position: relative;
	transition: all 0.5s ease-in-out;
	left: 0px;
}

.form-section-move {
	left: -500px;
}

.login-box,
.signup-box {
	height: 100%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 40px;
}

.login-box {
	gap: 50px;
}

.signup-box {
	gap: 30px;
}

.ele {
	height: 60px;
	width: 400px;
	outline: none;
	border: none;
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
}

.clkbtn {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right, #007ae1, #007ae1);
	font-size: 22px;
	border: none;
	cursor: pointer;
    text-align: center;
	color: #fff;
}

.clk {
	color: #fff;
}
